.bleed-image {
  // position: relative;
  display: block;
  padding: 10rem 2rem;

  background-size: cover;
  background-position: center center;

  color: $yellow;
  text-align: center;

  @include make-row();

  // &:after {
  //   content: ' ';
  //   display: block;
  //   position: absolute;

  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;

  //   background: rgba(0, 0, 0, 0.4);
  // }

  &.bleed-image--fixed {
    background-attachment: fixed;
  }
}

a.bleed-image:hover {
  color: #fff;

  .bleed-image__content {
    transform: scale(1.1);
  }

  &.bleed-image--withlink:hover {
    color: $yellow;

    .bleed-image__link {
      color: #fff;
    }
  }
}

.bleed-image__content {
  display: inline-block;
  background: rgba(0,0,0, 0.7);
  padding: 2rem 7rem;
  @include make-sm-column(12);
  @include make-md-column(6);
  @include make-md-column-offset(3);

  .bleed-image--larger & {
    @include make-sm-column(12);
    @include make-md-column(10);
    @include make-md-column-offset(1);
  }
}
