.block {
  display: block;

  text-align: center;
  background: $black;
  color: $yellow;

  padding: 2rem;

  a {
    color: $white;
  }
}

  .block + .block,
  .block--margin-top {
    margin-top: 5rem;
  }

  a.block:hover {
    color: $white;
    text-decoration: none;
    transform: scale(1.1);
  }

  .block--light {
    background: $lightgrey;
    color: inherit;

    a {
      color: $yellow;
    }
  }

  .block--rhythm {
    padding-top: 0;
    padding-bottom: 0;
  }
