// http://stackoverflow.com/questions/20456694/grid-of-responsive-squares
$items: 3;
$smallItems: 5;

$mobileItems: 2;
$mobileSmallItems: 3;

.block-grid {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: block;
}

  .block-grid--light {
    background: $white;
  }

.block-grid li,
.block-grid__item {
  display: block;
  float: left;
  position: relative;

  margin: 0;
  padding: 0;

  width: 100%/$mobileItems;
  padding-bottom: 100%/$mobileItems;

  @include md {
    width: 100%/$items;
    padding-bottom: 100%/$items;
  }
}

  .block-grid--small li,
  .block-grid__item {
    width: 100%/$mobileSmallItems;
    padding-bottom: 100%/$mobileSmallItems;

    @include md {
      width: 100%/$smallItems;
      padding-bottom: 100%/$smallItems;
    }
  }

.block-grid__item-content {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
