// http://stackoverflow.com/questions/20456694/grid-of-responsive-squares
$items: 2;
$smallitems: 6;

.block-grid {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: block;
}

.block-grid li,
.block-grid__item {
  display: block;
  float: left;
  width: 100%/$items;
  position: relative;

  margin: 0;
  padding: 0;
  padding-bottom: 100%/$items;
}

  .block-grid--small li,
  .block-grid__item {
    width: 100%/$smallitems;
    padding-bottom: 100%/$smallitems;
  }

.block-grid__item-content {
  position: absolute;
  display: block;
}
