.content {
  background: $white;

  padding: 2rem;
}

  .content--contrast {
    background: $lightgrey;
    // color: $yellow;
  }

  .content--flow-top {
    padding-top: 0;
  }

  .content--flow-bottom {
    padding-bottom: 0;
  }

  .content--flush {
    padding-left: 0;
    padding-right: 0;
  }
