.definition-table {
  margin: 0 auto;

  th {
    text-align: right;
    vertical-align: top;

    width: 50%;
    padding-right: 0.5em;
  }

  td {
    text-align: left;
    vertical-align: top;
  }
}
