.footer {
  color: rgba(255,255,255,0.5);
  text-align: center;

  margin: 5rem 0;
}

.footer__link {
  color: $white;
  opacity: 0.5;

  margin: 0 1rem;

  img {
    margin-right: 1rem;
  }

  &:hover {
    opacity: 0.9;
    color: $white;
    text-decoration: none;
  }
}
