.header {
  background: url('../images/header/bg.png');
  background-size: 300px 300px;
  background-attachment: fixed;

  padding: 15rem 0;
  color: $yellow;
  text-align: center;

  &.header--bleed {
    position: relative;
    background-size: cover;
    background-position: center top;
    background-attachment: scroll;
    z-index: -2;

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background: rgba(0,0,0,0.4);
      z-index: -1;
    }
  }
}

.header__link {
  background: #000;
  display: block;
}

.header__logo {
  width: 100%;
}

.header__title {
  font-family: Georgia;

  @include md {
    font-size: 10rem;
  }
}
