.header {
  background: url('../images/header/bg.png');
  background-size: 300px 300px;

  padding: 15rem 0;
  color: $yellow;
  text-align: center;
}

.header--link {
  background: #000;
  display: block;
}

.header--logo {
  width: 100%;
}
