.header {
  background: url('../images/header/bg.png');
  background-size: 300px 300px;

  padding: 20rem 0;
  color: yellow;
  text-align: center;
}

.header--title {
  display: inline-block;
  background: #000;

  padding: 6rem 10rem;
}
