.navigation {
  @include make-row();
}

.navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;

  // background: #000;
  border-bottom: 1px solid #333;
}

.navigation__item {
  display: inline-block;
  padding: 0;
  margin: 0;

  @include mobile {
    width: 100%;
  }

  @include desktop {
    width: auto;
  }
}

.navigation__link {
  display: block;
  padding: 5rem;

  width: 100%;
  text-align: center;

  color: $yellow;

  &:hover, &:focus {
    background: $yellow;
    color: $background;
    text-decoration: none;
  }
}
