.navigation {
  @include make-row();
  font-family: Georgia;

  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  z-index: 9999;

  @include md {
    position: static;
  }
}

.navigation__hamburger {
  float: right;

  color: $yellow;
  padding: 2rem;
  background: none;
  border: 0;

  &:hover,
  &:active,
  &:focus {
    color: $white;
  }

  @include md {
    display: none;
  }
}

.navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;

  background: $black;

  display: none;

  @include md {
    display: block;
  }
}

  /* uncss:ignore */
  .navigation--toggled .navigation__list {
    display: block;
  }

.navigation__item {
  display: inline-block;
  padding: 0;
  margin: 0;

  width: 100%;

  @include md {
    width: auto;
  }
}

.navigation__link {
  display: block;
  padding: 5rem;

  width: 100%;
  text-align: center;

  color: $yellow;

  transition: all 0.2s ease-in;

  &:hover, &:focus, .navigation__item--current & {
    background: $yellow;
    color: $background;
    text-decoration: none;
    transition: all 0s ease-in;

    @include md {
      transform: scale(1.2);
    }
  }

  &:active {
    transform: scale(0.9);
    transition: all 0.1s ease-in-out;
  }
}
