extends layouts/default

block header
  .header.header--bleed.row(style="background-image:url('images/about/header.jpg');")
      h1.header__title About The Aristocats

block content
  .content.row
    h2 Purr Meowetatum Hiss
    h3 We are The Washington University Aristocats.
    p.
      We are <strong>The Washington Univeisty Aristocats</strong>, Wash U’s all-Disney a cappella group, and we’ve been wreaking havoc since 2005. It’s a simple formula: find several reasonably attractive college kids who take singing seriously (and not much else), give them Disney music to sing, and you’ve got a group that makes people smile. We attempt strange accents, try to imitate animals (specifically lorded felines), and, most importantly, spread Disney magic wherever we go, all in the name of avoiding homework and making people happier.
  .content.row
    h2 Current Members
  ul.content.row.block-grid
    li.block-grid__item.person(style="background-image: url('images/about/members/mduan.jpg');")
      .block-grid__item-content.person__content
        h3.person__name Michael Duan
        h4.person__title Group Coordinator
    li.block-grid__item.person(style="background-image: url('images/about/members/rmehta.jpg');")
      .block-grid__item-content.person__content
        h3.person__name Rishil Mehta
        h4.person__title Music Director
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.block-grid__item--full.person(style="background: #000;")
      a.block-grid__item-content: h3 You?
  .content.row
    h2 Alumni
  ul.content.row.block-grid.block-grid--small
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name
    li.block-grid__item.person
      .block-grid__item-content.person__content
        h3.person__name Name

