extends layouts/default

append variables
  - var currentPage = 'about us';

block header
  .header.header--bleed.row(style="background-image:url('images/about/header.jpg');")
      h1.header__title about us

block content
  .content.row
    h2 Purr Meowetatum Hiss
    h3 We are the Washington University Aristocats.
    p.
      We are <strong>the Washington University Aristocats</strong>, Wash U’s all-Disney a cappella group, and we’ve been wreaking havoc since 2005. It’s a simple formula: find several reasonably attractive college kids who take singing seriously (and not much else), give them Disney music to sing, and you’ve got a group that makes people smile. We attempt strange accents, try to imitate animals (specifically lorded felines), and, most importantly, spread Disney magic wherever we go, all in the name of avoiding homework and making people happier.
    p.text-center
      a(href="/music.html") Listen to us &rarr;
    p.text-center
      a(href="/auditions.html") Join us &rarr;
  .content.row
    h2 Current Members
  ul.row.block-grid
    li.block-grid__item.person(style="background-image: url('images/about/members/mduan.jpg');")
      .block-grid__item-content.person__content
        h3.person__name Michael Duan
        h4.person__title Group Coordinator
    li.block-grid__item.person(style="background-image: url('images/about/members/rmehta.jpg');")
      .block-grid__item-content.person__content
        h3.person__name Rishil Mehta
        h4.person__title Music Director
    each name in ['Natasha Bhuyan', 'Ian Boyer-Edwards', 'Vanessa Burks', 'Patricha Chen', 'Elizabeth Coe', 'Nicole Cooper', 'Jonathan Huster', 'Alice Liu', 'Mitch Styczynski', 'Ben Stolovitz', 'Michelle Zhang']
      li.block-grid__item.person
        .block-grid__item-content.person__content
          h3.person__name= name
    li.block-grid__item.block-grid__item--full.person(style="background: #000;")
      a.block-grid__item-content: h3 You?
  .content.row
    h2 Alumni
  ul.row.block-grid.block-grid--small
    each name in ['Katie Gould', 'Ryan Hoffman']
      li.block-grid__item.person
        .block-grid__item-content.person__content
          h3.person__name= name
