extends layouts/default

append variables
  - var currentPage = 'auditions';

block header
  .header.header--bleed.row(style="background-image:url('images/auditions/header.png');")
    h1.header__title auditions

block content
  .content.row.content--flow-bottom
    .col-md-8
      h2 Why audition for The Aristocats?
  .content.row.content--flow-top
    .col-md-8
      p We are a fun-loving and welcoming group dedicated to spreading Disney magic around the Wash U campus! We are more than just an a cappella group — <em class="highlight">we are a family</em>. In joining an a cappella group, the friends you make and the music you create will be essential components of an unforgettable college experience. Here in the Aristocats, we work together, embrace each other's quirks, and make endless amounts of memories and inside jokes... all while singing some awesome music! If you enjoy singing and fun (who doesn't?) then the Aristocats is right for you.
    .col-md-4.block.block--light
      p No need to read if you don't want; sign up here!
      a.block(href="#") Book an audition &rarr;
  .content.row.content--contrast
    .col-md-6.col-md-offset-6
      h2 Do I need previous singing experience?
      p We don't require it, but we are looking for a <em class="highlight highlight--contrast">good sense of pitch and tone</em>. Basic music reading ability is also highly recommended.
      //- h2 Do I need to be a specific voice part?
      //- p Though we are looking to fill the gap left by our newest alumni, we are always looking for good talent. Certainly don't let your voice part inhibit you from trying out.
  .content.row
    .col-md-8
      h2 What will the audition be like?
      p Before the audition, you should <em class="highlight">prepare a ~45sec solo</em> of a song of your choice (about 1 verse and a chorus). The audition is very short (~15 min) and laid back:
      ol
        li.
         All of us are so excited to meet you so we’ll have you fill out a short audition sheet (with questions like, "what's your favorite shade of pink?", so don't worry) just so we can get to know you a little bit.
        li Next, we will warm you up with some scales to get a sense of your range.
        li Then, will do a quick tonal memory exercise —  we play a few notes and ask you to sing it back — and give you a couple measures of sight singing (nothing to stress about!).
        li Then, we will listen to your solo! (This is our favorite part.)
      p The whole process is really chill and <em class="highlight">we totally get that you might be nervous</em>; just know that there is no reason to be, because we're already impressed that you took a chance to come out and audition!
  .content.row.content--contrast
    .col-md-6.col-md-offset-6
      h2 Do I need to prepare a Disney song?
      p Nope! <em class="highlight highlight--contrast">Pick any song you love to sing</em> that shows off your voice. It would be preferable for you to pick a song that’s well known or something a few of us would have heard before. If you know your vocal range, try to pick something in that range.
  .content.row
    .col-md-8
      h2 What are callbacks like?
      p Callbacks are longer, but still laid back! We will ask you to <em class="highlight">prepare another ~45sec solo for us</em>. The main part of the callback is the part where we teach you small parts of two of our songs and have you sing with part of the group. It's all pretty fun and casual, nothing to get too nervous over!
  .content.row.content--contrast
    .col-md-6.col-md-offset-6
      h2 What is the time commitment?
      p We rehearse between <em class="highlight highlight--contrast">6-7 hours a week</em> and do two concerts a year, as well as gigs for the community here and there. Though it is a time commitment, it is nothing unmanageable! We've had group members participate in all sorts of other activities as well, including basketball, dance, theatre, academic honoraries, etc. while still maintaining full course loads.
  .content.row.content--flow-bottom
    .col-md-8
      h2 Sounds good! How do I sign up?
  .content.row.content--flow-top
    .col-md-8
      p You can <a href="#?TODO">sign up online</a>.
      p Or, catch us at the a cappella info session at <em class="highlight">College Hall at 6PM on August 30th</em> (2015), or while we dormstorm the South 40 from September 1stst through September 3rd! Please email our lovely auditions coordinator Vanessa Burks at <a href="mailto:vanessanburks@wustl.edu">vanessanburks@wustl.edu</a> if you have any questions about auditions!
    .col-md-4.block.block--light
      p Book an audition with us now:
      a.block(href="#") Sign up here!


