extends layouts/default

append variables
  - var currentPage = 'auditions';

block header
  .header.header--bleed.row(style="background-image:url('images/auditions/header.png');")
    h1.header__title auditions

block content
  .content.row
    h2 Why audition for The Aristocats?
    p We are a fun-loving and welcoming group dedicated to spreading Disney magic around the Wash U campus! We are more than just an a cappella group-we are a family. In joining an a cappella group, the friends you make and the music you create will be essential components of an unforgettable college experience. Here in the Aristocats, we work together, embrace each other's quirks, make endless amounts of memories and inside jokes...all while singing some awesome music! If you enjoy singing and fun (who doesn't?) then the Aristocats is right for you.
    h2 Do I need previous singing experience?
    p We don't require it, but we are looking for a good sense of pitch and tone. Basic music reading ability is also highly recommended.
    h2 What will the audition be like?
    p Before the audition, you should prepare a ~45sec (about 1 verse and a chorus) solo of a song of your choosing. The audition is very short (~15 min) and laid back! All of us are so excited to meet you so we’ll have you fill out a short audition sheet (nothing to worry about!) just so we can get to know you a little bit. Next, we will warm you up with some scales to get a sense of your range. Then, will do a quick tonal memory exercise (where we play a few notes and ask you to sing it back) and give you a couple measures of sight singing (nothing to stress about!). Then, we will listen to your solo! (This is our favorite part.) The whole process is really chill and we totally get that you might be nervous; just know that there is no reason to be, because we're already impressed that you took a chance to come out and audition!
    h2 Do I need to prepare a Disney song?
    p Nope! Pick any song you love to sing that shows off your voice. It would be preferable for you to pick a song that’s well known or something a few of us would have heard before. If you know your vocal range, try to pick something in that range.
    h2 What are callbacks like?
    p Callbacks are longer, but still laid back! We will ask you to prepare another ~45sec solo for us. The main part of the callback is the part where we teach you small parts of two of our songs and have you sing with part of the group. It's all pretty fun and casual, nothing to get too nervous over!
    h2 What is the time commitment?
    p We rehearse between 6-7 hours a week and do two concerts a year, as well as gigs for the community here and there. Though it is a time commitment, it is nothing unmanageable! We've had group members participate in all sorts of other activities as well, including basketball, dance, theatre, academic honoraries, etc. while still maintaining full course loads.
    h2 Sounds good! How do I sign up?
    p SIGN UP ONLINE HERE! https://aristocats.youcanbook.me/
    p Or, catch us at the a cappella info session at College Hall at 6PM on August 30th (2015), or while we dormstorm the South 40 from September 1stst through September 3rd! Please email our lovely auditions coordinator Vanessa Burks at vanessanburks@wustl.edu if you have any questions about auditions!


