extends layouts/default

block header
  .header.header--bleed.row(style="background-image:url('images/auditions/header.png');")
      h1.header__title auditions

block content
  .content.row
    h1 What's it like to audition?
