extends layouts/default

append variables
  - var currentPage = 'contact';
  - var title = 'Contact — the Washington University Aristocats';
  - var description = 'Get in touch with the Washington University Aristocats.';

block header
  .header.header--bleed.row(style="background-image:url('images/contact/header.jpg');")
      h1.header__title contact

block content
  .content.row
    .col-md-8
      h1 How may I direct your call?
      p.
        For <strong>booking</strong> or <strong>general questions</strong>, please contact our <strong>group coordinator</strong> via <a href="mailto:aristocats.wu@gmail.com">aristocats.wu@gmail.com</a>.
      p.
        For information about <strong>arrangements</strong>, you should talk to our <strong>music director</strong>, Rishil Mehta (<a href="#?TODO">his@email.com</a>).
      p.
        If you'd like to talk about <strong>auditions</strong>, contact our <strong>auditions coordinator</strong>, Vanessa Burks (<a href="mailto:vanessanburks@wustl.edu">vanessanburks@wustl.edu</a>).
      p.
        Send questions about the <strong>site</strong> and <strong>branding</strong> to <a href="mailto:ben@stolovitz.com">Ben Stolovitz</a>, our <strong>artistic chair</strong>.
    .col-md-4.block.block--rhythm
      h1 General Questions
      p You can always get in touch with us at <a href="mailto:aristocats.wu@gmail.com">aristocats.wu@gmail.com</a>
