extends layouts/default

append variables
  - var currentPage = 'contact';

block header
  .header.header--bleed.row(style="background-image:url('images/contact/header.jpg');")
      h1.header__title contact

block content
  .content.row
    h1 How may I direct your call?
    p.
      For <strong>booking</strong> or <strong>general questions</strong>, please contact our <strong>group coordinator</strong> via <a href="#?TODO">aristocats@wustl.edu</a>.
    p.
      For information about <strong>arrangements</strong>, you should talk to our <strong>music director</strong>, Rishil Mehta (<a href="#?TODO">his@email.com</a>).
    p.
      If you'd like to talk about <strong>auditions</strong>, contact our <strong>auditions coordinator</strong>, Vanessa Burks (<a href="#?TODO">her@email.com</a>).
