extends layouts/default

block header
  .header.header--bleed.row(style="background-image:url('images/contact/header.jpg');")
      h1.header__title contact

block content
  .content.row
    h1 grab a phone
