extends layouts/default

block content
  .header
    //- h1.header--title the aristocats!
    img.header--logo(src="images/header/logo.svg")
  ul.navigation
    li.navigation--item: a.navigation--link home
    li.navigation--item: a.navigation--link about us
    li.navigation--item: a.navigation--link music
    li.navigation--item: a.navigation--link auditions
    li.navigation--item: a.navigation--link contact

