extends layouts/hero

block content
  .row
    h1 News
    p the latest
    ul
      li
        h2 get ready for auditions
        p We're excited, too! Check out our tips :P
  .bleed-image(style="background-image:url('images/home/about.jpg');")
    a(href="#")
      h1 About us
      p learn about the amazingness

