extends layouts/hero

block content
  .news.row
    .col-md-12
      h1 News
      p the latest
      ul
        li
          h2 get ready for auditions
          p We're excited, too! Check out our tips :P
  .row
    a.music.col-md-6.bleed-image(style="background-image:url('images/home/music.jpg');" href="/music.html")
      .bleed-image__content
        h1 Music
        p our music
    a.about.col-md-6.bleed-image(style="background-image:url('images/home/about.jpg');" href="/about.html")
      .bleed-image__content
        h1 About us
        p Who even becomes an Aristocat?
