extends layouts/default

append variables
  - var currentPage = 'music';

block header
  .header.header--bleed.row(style="background-image:url('images/music/header.png');")
      h1.header__title music

block content
  .content.row
    h1 Our music
    h2 Current lineup
    ul.block-grid
      - var lineup = [{ title: 'Disney Intro', artist: 'Disney?', arranger: '???'}, { title: 'Life Is a Highway', artist: 'Tom Cochrane & Rascal Flatts', arranger: 'Ben Stolovitz'}, { title: 'Down in New Orleans', artist: 'Dr. John & Randy Newman', arranger: 'Ben Stolovitz'}, { title: 'Everybody Wants to Be a Cat (alumni song)', artist: 'Richard M. Sherman, Robert B. Sherman, Al Rinker, Floyd Huddleston', arranger: '???'}];
      each song in lineup
        li.block-grid__item
          h3= song.title
          p <strong>Original:</strong> #{song.artist}
          p <strong>Arrangement:</strong> #{song.arranger}
  .row
    .col-md-8
      h2 featured video
    .col-md-4
      h2 links to youtube
  .row
    .col-md-8.col-md-push-4
      h2 soundcloud stuff
    .col-md-4.col-md-pull-8
      h2 linksto soundcloud
