extends layouts/default

append variables
  - var currentPage = 'music';

block header
  .header.header--bleed.row(style="background-image:url('images/music/header.png');")
      h1.header__title music

block content
  .content.row
    h1 Our music
    h2 Current lineup
    ul.float-grid
      - var lineup = [{ title: 'Disney Intro', artist: 'Disney?', arranger: '???'}, { title: 'Life Is a Highway', artist: 'Tom Cochrane & Rascal Flatts', arranger: 'Ben Stolovitz'}, { title: 'Down in New Orleans', artist: 'Dr. John & Randy Newman', arranger: 'Ben Stolovitz'}, { title: 'Everybody Wants to Be a Cat (alumni song)', artist: 'Richard M. Sherman, Robert B. Sherman, Al Rinker, Floyd Huddleston', arranger: '???'}, { title: 'Why Should I Worry?', artist: '???', arranger: '???'}, { title: 'Love in 3/4 Medley', artist: '???', arranger: '???'}, { title: 'Son of Man', artist: '???', arranger: '???'}, { title: 'Go the Distance', artist: '???', arranger: '???'}, { title: 'Prince Ali', artist: '???', arranger: '???'}, { title: 'Love is an Open Door', artist: '???', arranger: '???'}, { title: 'You\'ll Be in My Heart', artist: '???', arranger: '???'}];
      each song in lineup
        li.float-grid__item
          h3= song.title
          p <strong>Original:</strong> #{song.artist}
          p <strong>Arrangement:</strong> #{song.arranger}
  .content.row
    .col-md-8
      iframe(width="560" height="315" src="https://www.youtube.com/embed/F4ICMxmSLBc" frameborder="0" allowfullscreen)
    .block.block--light.col-md-4
      h2 Phineas and Ferb Medley
      p Our performance of Ryan Hoffman's <strong>Phineas and Ferb Medley</strong> from Bella Notte 2015.
      p <strong>Soloists</strong>: Mitch Styczynski, Alice Liu, Vanessa Burks, Michelle Zhang, and Ryan Hoffman.
      a.block(href="https://youtube.com/user/thearistocatswashu/") Watch more on YouTube &rarr;
  .content.row
    .col-md-8.col-md-push-4
      iframe(width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/62909869&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false")
    .block.block--light.col-md-4.col-md-pull-8
      h2 Soundcloud
      p You can also find us on Soundcloud.
      a.block(href="https://soundcloud.com/wash-u-aristocats") Soundcloud &rarr;
