extends default

block header
  .header.row.header--jumbo
    a(href="/" title="The Aristocats homepage").header__link.col-md-8.col-md-offset-2
      img.header__logo(src="/images/header/logo.svg" alt="The Aristocat typographic logo, with the phrase 'The Aristocats a cappella' written out in a style similar to the Disney logo")
